@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:host {
    font-family: 'Overpass', sans-serif;
}

.sidebar {
    background-color: #272D63;
    width: 214px;
    height: 768px;
    gap: 0px;
    border-radius: 0px 16px 16px 0px;
    opacity: 0px;

}

.bar_cell_title {
    width: 214px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_cell_container {
    width: 193px;
    height: 106px;
    padding: 16px 8px 16px 8px;
    gap: 8px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;

}

.bar_cell_profile_container {
    width: 177px;
    height: 74px;
    gap: 8px;
    opacity: 0px;

}

.bar_cell_profile_properties {
    width: 177px;
    height: 28px;
    gap: 8px;
    opacity: 0px;

}

.avatar_profile {
    width: 28px;
    height: 28px;
    border-radius: 24px;
    color: #272D63;
}

.name-profile {
    width: 128px;
    height: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.26px;
    text-align: left;
    padding-left: 8px;
    color: #ffffff;
}

.area_profile {
    border-bottom: 1px solid rgba(121, 126, 245, 1);
    width: 177px;
    height: 32px;
    padding: 10.5px 0px 0px 0px;
    gap: 10.5px;
    border-radius: 6px 0px 0px 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}

.area_profile span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.72px;
    text-align: left;
    width: 156px;
    height: 18px;
    gap: 0px;
    opacity: 0px;

    color: #FFFFFF;

}

.bar_cell_navegator {
    width: 214px;
    height: 56px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
}

.bar_cell_hover {
    width: 214px;
    height: 44px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 40px 0px 0px 40px;
    opacity: 0px;

}

.bar_cell_hover:hover {
    background-color: #F7F8F9;
}