<div class="container">
    <div class="card flex flex-wrap" style="display: flex; justify-content: space-between;">
        <div class="cell_title_div">
            <h1 class="cell_title">Pacientes</h1>
        </div>
        <div>
            <button pButton pRipple label="Cadastrar Paciente" icon="pi pi-plus" class="btn_register btn_register_text">
            </button>
        </div>
    </div>
    <br>
    <div class="card flex flex-wrap" style="display: flex; justify-content: space-between;">
        <div>
            <span class="p-input-icon-right ">
                <input type="text" pInputText [(ngModel)]="value" class="cell_input" placeholder="Pesquisar" (input)="filterPacientes()" />

                <i class="pi pi-search"></i>
            </span>
        </div>
        <div>

            <div class="card flex justify-content-center">
                <p-dropdown [options]="pacientes" [(ngModel)]="opcaoSelecionada" optionLabel="name" [showClear]="true"
                    placeholder="Pacientes ativos" class="dropdown" (ngModelChange)="onPacienteChange()"></p-dropdown>
            </div>
        </div>
    </div>
    <br>
    <div></div>
    <div class="body">
        <p-table [columns]="cols" [value]="filtropacientes"     [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        class="p-paginator-right"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pacientes">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="paciente" style="width:10%; ">Paciente <i field="paciente"
                            class="pi pi-sort"></i></th>
                    <th pSortableColumn="status" style="width:10%;">Status <i field="status" class="pi pi-sort"></i>
                    </th>
                    <th pSortableColumn="diagnostico" style="width:15%">Diagnóstico <i field="diagnostico"
                            class="pi pi-sort"></i></th>
                    <th pSortableColumn="medicamento" style="width:15%">Medicamento <i field="medicamento"
                            class="pi pi-sort"></i></th>
                    <th pSortableColumn="planodesaude" style="width:20%">Plano de saúde <i field="planodesaude"
                            class="pi pi-sort"></i></th>
                    <th pSortableColumn="ultimasolicitacao" style="width:20%">Última Solicitação<i
                            field="ultimasolicitacao" class="pi pi-sort"></i></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>{{ rowData.paciente }}</td>
                    <td><p-tag [value]="rowData.status ? 'Ativo' : 'Inativo'" [severity]="getSeverity(rowData.status)"></p-tag></td>
                    <td>{{ rowData.diagnostico }}</td>
                    <td>{{ rowData.medicamento }}</td>
                    <td>{{ rowData.planodesaude }}</td>
                    <td>{{ rowData.ultimasolicitacao }}</td>
                    <td>
                        <span class="material-symbols-outlined">
                            prescriptions
                        </span>
                        <i (click)="teste()" class=" pi pi-ellipsis-h pointer" style="margin-left: 10px;"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>